.foggButton {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
  border-radius: .25rem;
  border: 1px solid transparent;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  padding: .375rem .75rem;
  text-align: center;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &.primary {
    color: #fff;
    background-color: #0168fa;
    border-color: #0168fa;

    &:hover {
      background-color: #0357d4;
    }
  }

  &.success {
    color: #fff;
    background-color: #10b759;
    border-color: #10b759;

    &:hover {
      background-color: #0e9448;
    }
  }

  &.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }

  &.warning {
    color: #666;
    background-color: #ffc107;
    border-color: #ffc107;

    &:hover {
      background-color: #f1b400;
    }
  }

  &.dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;

    &:hover {
      background-color: #22272a;
    }
  }

  &.light {
    background-color: #e5e9f2;
    border-color: #cdd5e6;
    color: #8392a5;

    &:hover {
      color: #444;
    }
  }
}
