.App {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  padding: 50px;
  margin: 0 auto;
  width: 486px;

  h1 {
    text-align: center;
  }

  button {
    margin-right: 5px;
  }
}
