.App {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  padding: 50px;
  margin: 0 auto;
  padding-bottom: 500px;
  width: 960px;

  h1 {
    text-align: center;
  }

  button {
    margin-right: 5px;
  }

  .spinners {
    display: flex;
    justify-content: space-between;
    background: #34495E;
    padding: 20px;
  }
}
